<footer class="c-footer u-clearfix">
  <div class="c-footer__copyleft">
    <p class="u-text-left">
      &copy; MMXXIII {{ site.author.name }}. Any and all opinions listed here are my own and not representative of my
      employers; future, past and present.
    </p>
  </div>
  <div class="c-footer__links">
    <ul>
      <li><a class="u-no-underline u-underline--hover" href="/">About</a></li>
      <li><a class="u-no-underline u-underline--hover" href="/blog">Writings</a></li>
      <li><a class="u-no-underline u-underline--hover" href="/colophon">Colophon</a></li>
      <li>
        <a class="u-no-underline u-underline--hover" href="{{ site.repo }}/commit/{{ site.last_commit }}"
         >Source Code ({{ site.last_commit }})</a
        >
      </li>
    </ul>
  </div>
</footer>
